@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
        rgb(var(--background-start-rgb));
}

@layer components {
    .container-light {
        @apply w-full min-h-[500px] bg-white flex flex-col items-center justify-center text-[#161617];
    }

    .container-dark {
        @apply w-full min-h-[500px] bg-#161617 flex flex-col items-center justify-center text-white;
    }
    .btn-primary {
        @apply text-lg py-2 px-4 bg-sky-500 text-white font-semibold rounded-lg shadow-lg hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-400 focus:ring-opacity-75;
    }

    .text-color {
        @apply text-[#161617];
    }

    .btn-light {
        @apply flex items-center bg-white justify-center py-3 px-8 rounded-full border-2 border-black text-xl text-[#1d1d1f] font-semibold hover:bg-[#1d1d1f] hover:text-white transition-all duration-500 ease-in-out hover:cursor-pointer;
    }
    .btn-dark {
        @apply flex items-center justify-center py-3 px-8 rounded-full hover:border-2 hover:border-[#1d1d1f] bg-[#1d1d1f] text-xl text-white font-semibold hover:bg-white hover:text-black transition-all duration-500 ease-in-out hover:cursor-pointer;
    }

    .title-sm-dark {
        @apply text-3xl font-semibold text-[#161617];
    }

    .title-sm-light {
        @apply text-3xl font-semibold text-white;
    }

    .button-number {
        @apply bg-[#161617] border-2 border-[#161617] rounded-2xl shadow-lg hover:bg-white hover:text-[#161617] transition-all duration-500 ease-in-out py-2 px-4 font-semibold text-lg;
    }

    .button-number-active {
        @apply bg-[white] text-[#161617] border-2 border-[#161617] rounded-2xl shadow-lg hover:bg-[#161617] hover:text-[white] transition-all duration-500 ease-in-out py-2 px-4 font-semibold text-lg;
    }

    /* .animation-alert {
        @apply animationAlert;
    } */
}

.slick-prev {
    left: -42px !important;
}
/* custom */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 1.6 !important;
    position: absolute;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    margin: auto !important;
    transform: translate(0, -50%);
    cursor: pointer;
    color: red !important;
    border: none;
    outline: none;
    background: rgba(68, 68, 68, 0.6) !important;
    padding: 10px !important;
    z-index: 10 !important;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(68, 68, 68, 0.4) !important;
    transition: 0.4s ease-in-out;
}

.slick-prev::before,
.slick-next::before {
    top: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: absolute !important;
    font-size: 35px !important;
}
